body {
    background-color: #EEEEEE;
    margin: 0;
}

h1 {
    color: #F90215;
    margin-top: 0;
    text-align: center;
    font-family: "Archivo Black", Helvetica; /**/
    font-size: 20;
}

h3 {
    color: #000;
    margin: 0;
    text-align: left;
}   

a {
    text-transform: uppercase;
}

.shell {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #CCCCCC;
    min-height: 100lvh;
    padding: 24px
}
